*{
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
  font-family: "Lucida Console", monospace;
  color: #000000;
}

.menu{
  background-color: #191919;
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
}

a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #501c85;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #dcd2e7;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #a88ec2;
  background-color: transparent;
  text-decoration: underline;
}

.description{
  margin-left: 10%;
  margin-right: 10%;
  color: #ffffff;
  font-size: 3vw;
  text-align: center;
  display: inline-block;
  }
